.coin {
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
  
  .coin-flipper {
    transition: 0.6s;
	  transform-style: preserve-3d;
  	position: relative;
  }
  .coin-front, .coin-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .coin-front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  .coin-back {
    z-index: 1;
    transform: rotateY(180deg);
  }

  &.front {
    .coin-flipper {
      transform: rotateY(0deg);
    }
  }
  &.back {
    .coin-flipper {
      transform: rotateY(180deg);
    }
  }
}