@import '~common/css/variables.scss';

.dashboard-tag-circle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 244px;
  height: 244px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 38px 50px;
  

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: rotating 5s infinite linear;
    background-position: center;
    background-size: cover;
    background-image: url('./circle.png');
  }

  .dashboard-tag-circle-title {
    color: $text-light;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .dashboard-tag-circle-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: $orange;
    text-align: left;
    font-size: 15px;
  }
}


@keyframes rotating {
  from {
    transform: rotate(0deg); 
  }
  to { 
    transform: rotate(360deg); 
  }
}