$title-size: 16px;
$content-line-height: 1.5;
$font-family: system, -apple-system, ".SFNSDisplay-Regular", "PingfangSC", "Source Han Sans", Roboto, Helvetica, Arial, sans-serif;


// color
$bg: #283480;

$black: #494949;
$white: #ffffff;

$blue:  #00A2EE;
$blue-light: #1E9FDE;
$blue-dark:  #074F70;

$red: #E63A3A;
$red-light: #E2273E;

$green: #2DBA28;
$green-light: #7ED321;

$yellow: #F8E71C;

$orange: #FF821E;

$text-light: #3EE6E7;


%inner-shadow {
  box-shadow: inset 0px 0px 15px #00A4F0;
}
%outer-shadow {
  box-shadow: 0px 0px 15px #00A4F0;
}

%with-light-line {
  position: relative;
  
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 1px;
    height: 1px;;
    box-shadow: 0px 0px 10px $blue;
  } 
}