@import '~common/css/base.scss';
@import '~common/css/variables.scss';


%title {
  background-color: $blue-dark;
  color: $text-light;
  border-bottom: 1px solid $blue;
  text-align: center;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-color: $blue-dark;
    height: 100%;
    width: 20px;
  }

  &:before {
    border-left: 1px solid $blue;
    left: -9px;
    transform: skew(15deg);
  }
  
  &:after {
    border-right: 1px solid $blue;
    right: -9px;
    transform: skew(-15deg);
  }
}

%horn {
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    background-image: url('./../../common/assets/horn.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: -1px;
    top: -1px;
  }
}
%block {
  border: 1px solid $blue;
}

%chart-block {
  border-top: 1px solid $blue;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

%block-title {
  @extend %title;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
  font-weight: normal;
  position: absolute;
  z-index: 2;
  height: 40px;
  line-height: 40px;

  &:before {
    left: -6px;
  }

  &:after {
    right: -6px;
  }

  p {
    position: relative;
    z-index: 3;

    em {
      font-size: 12px;
    }
  }
}

%block-total {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: $white;

  .total-number {
    color: $blue;
    font-size: 16px;
  }
}

.flex {
  display: flex;
}

.row {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

body {
  background-color: $bg;
  background-image: linear-gradient(45deg, #021037, #283480);
}

.dashboard {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  margin: 0px auto;
  background-image: url('./../../common/assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dashboard-hd {
  @extend %title;
  position: relative;
  width: 360px;
  height: 70px;
  line-height: 70px;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-bd {
  margin-top: -15px;
}

.dashboard-region {
  .dashboard-region-charts {
    display: flex;
  }
}

.dashboard-region-rank-wrapper {
  width: 360px;
  float: left;

  .dashboard-region-rank {
    @extend %block;
    @extend %outer-shadow;
    color: $text-light;
  }

  .dashboard-region-rank-hd {
    @extend %inner-shadow;
    height: 78px;
    box-sizing: border-box;
    padding: 8px 25px 0px 25px;
    text-align: right;

    .dashboard-region-rank-title {
      font-size: 24px;
      color: $white;
    }
    .dashboard-region-rank-number {
      font-size: 20px;
    }
  }

  .dashboard-region-rank-list {
    .dashboard-region-rank-item {
      clear: both;
      overflow: hidden;
      font-size: 15px;
      // height: 50px;
      overflow: hidden;

      &:first-child, &:last-child {
        // height: 60px;
      }
      &:first-child {
        .dashboard-region-rank-index, .dashboard-region-rank-data {
          padding-top: 22px;
        }
      }
      &:last-child {
        .dashboard-region-rank-index, .dashboard-region-rank-data {
          padding-bottom: 22px;
        }
      }
    }
    .dashboard-region-rank-index, .dashboard-region-rank-data {
      line-height: 26px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .dashboard-region-rank-index {
      display: block;
      float: left;
      width: 60px;
      text-align: center;
      border-right: 1px solid $blue;
    }

    .dashboard-region-rank-data {
      margin-left: 60px;
      overflow: hidden;
      padding-left: 10px;
      padding-right: 10px;
    }

    .dashboard-region-name, .dashboard-region-percent {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
    }
    .dashboard-region-name {
      margin-right: 5px;
      width: 70px;
      height: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .dashboard-region-percent {
      box-sizing: border-box;
      padding-left: 10px;
      padding-right: 10px;
      width: 176px;
      text-align: left;
      position: relative;
      z-index: 1;
      border: 1px solid $blue;
      height: 24px;
      line-height: 24px;
      border-radius: 12px;
    }

    .dashboard-region-percent-inner {
      position: absolute;
      z-index: 2;
      height: 100%;
      left: 0;
      right: 0;
      background-color: rgba(255, 255 , 255, .3);
      border-radius: 12px;
    }

    .dashboard-region-number {
      position: relative;
      z-index: 3;
      line-height: 24px;
    }
  }

}

.dashboard-region-active-wrapper {
  flex: 1;
  margin-left: 50px;
  
  .dashboard-region-active {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .dashboard-region-active-num {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    color: $white;

    .dashboard-region-active-item {
      font-size: 20px;
      margin-bottom: 10px;
      padding-left: 30px;
      background: url('./../../common/assets/clock.png') 0px 0px no-repeat;

      p {
        line-height: 1.4em;
        color: $text-light;
      }
      .dashboard-region-active-title {
        color: $white;
      }
    }
  }
  .dashboard-region-map-image {
    width: 735px;
    height: 620px;
    margin-top: -60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./../../common/assets/map.gif');
  }
}



.dashboard-play-vv-and-source {
  float: right;
  width: 705px;
}

.dashboard-play-vv-wrapper {
  width: 636px;
  float: right;
}
.dashboard-play-vv {
  @extend %chart-block;
  @extend %with-light-line;
  padding-left: 10px;
  height: 325px;
}
.dashboard-play-vv-title {
  @extend %block-title;
}
.dashboard-play-vv-total {
  @extend %block-total;
  text-align: right;
}
.dashboard-play-vv-chart {
  margin-left: -80px;
  margin-top: 60px;
}

.dashboard-source-circles {
  clear: both;
  overflow: hidden;
  display: flex;
}

.dashboard-circle-wrap {
  padding: 30px;
  flex: 1;
  text-align: center;
}

.dashboard-circle-tags {
  position: relative;
  z-index: 1;

}

.dashboard-month-total-wrapper {
  width: 575px;
  height: 350px;
  float: left;
}

.dashboard-active-wrapper, .dashboard-total-user-wrapper {
  width: 575px;
  height: 350px;
}

.dashboard-active {
  @extend %chart-block;
  @extend %with-light-line;
  height: 340px;
}
.dashboard-active-title {
  @extend %block-title;
  right: 10px;
}

.dashboard-average-wrapper {
  @extend %outer-shadow;
  width: 310px;
  float: right;
}
.dashboard-average {
  @extend %chart-block;
  @extend %block;
  @extend %inner-shadow;
  height: 320px;;
}

.dashboard-average-title {
  @extend %block-title;
  left: 50%;
  transform: translateX(-50%);
}

.dashboard-average-chart {
  margin-top: 80px;
  display: flex;
}

.dashboard-average-chart-item {
  flex: 1;
  padding: 0px 30px 30px 30px;
  text-align: center;
  color: $white;
  font-size: 14px;

  .dashboard-average-item-main {
    margin-bottom: 10px;
    .item-title {
      color: $text-light;
    }
    .number {
      font-size: 18px;
      color: $orange;
    }
  }
  

  .line {
    height: 20px;
    width: 1px;
    background-color: $orange;
    display: block;
    margin: 5px auto;
  }
}

.dashboard-play-uv-wrapper {
  width: 860px;
  float: left;
  margin-left: 50px;
}
.dashboard-play-uv {
  @extend %with-light-line;
  @extend %chart-block;
  padding-left: 10px;
}
.dashboard-play-uv-title {
  @extend %block-title;
}
.dashboard-play-uv-total {
  @extend %block-total;
  text-align: right;
}

.dashboard-play-uv-chart {
  margin-top: 0px;
}
.dashboard-play-uv-wrapper, .dashboard-month-total-wrapper {
  overflow: hidden;
}