@import '~common/css/variables.scss';

.loading-wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 50px;

  .icon {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0px auto;
    background-position: center;
    background-size: cover;
    background-image: url('./../../common/assets/loading.svg');
  }
}